<!DOCTYPE html>
<html>
<head>

    <title>Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Help</h1>
    <p>Здравствуйте! Если вы здесь, по всей видимости вам потребовалась помощь. я готов любезно её вам оказать.</p>
    <p>На данной странице вы можете сортировать массив чисел. На выбор вам даётся:</p>
    <p>Ручной ввод: массив забивается вручную через пробел.</p>
    <p>Случайный массив: вами выбирается некое количество элементов, а бэк уже за вас вводит рандомные значения.</p>
    <p>Так же вы можете очистить историю поиска.</p>
    <a href="/">Go Back</a>
</body>
</html>
